// 当前本库为自用,暂时在此处配置变量

// 常用色值,本库会根据该变量生成c-*/bg-*类,以便原子化调用
$colors: (
  /*
     ===场景色===
     主题 */ primary: #1890ff,
  /* 背景 */ background: #eeeeee,
  /* 次级 */ secondary: #424242,
  /* 重点 */ accent: #82b1ff,
  /* 错误 */ error: #ff5252,
  /* 信息 */ info: #2196f3,
  /* 危险 */ danger: #d9534f,
  /* 成功 */ success: #4caf50,
  /* 警告 */ warning: #ffc107,
  /* 阴影色 */ box-shadow-color:
    rgba(
      $color: #000000,
      $alpha: 0.3
    ),
  /* 边框色 */ border-color: #dcdfe6,
  /*
     ===常用色===
     红 */ red: #f44336,
  /* 白 */ white: #ffffff,
  /* 橙 */ orange: #f5ad1b,
  /* 深橙 */ deep-orange: #ff5722,
  /* 蓝 */ blue: #2196f3,
  /* 浅蓝 */ light-blue: #03a9f4,
  /* 绿 */ green: #4caf50,
  /* 浅绿 */ light-green: #8bc34a,
  /* 黄 */ yellow: #ffeb3b,
  /* 琥珀 */ amber: #ffc107,
  /* 酸橙 */ lime: #cddc39,
  /* 棕 */ brown: #795548,
  /* 蓝灰 */ blue-grey: #607d8b,
  /* 青 */ cyan: #009688,
  /* 粉 */ pink: #e91e63,
  /* 紫 */ purple: #9c27b0,
  /* 深紫 */ deep-purple: #673ab7,
  /* 靛青 */ indigo: #3f51b5,
  /* 灰 */ gray: #909399,
  /* 黑 */ black: #000000,
  /*
     ===通用RGB色===
     通用RGB */ e5: #e5e5e5,
  f1: #f1f1f1,
  f7: #f7f7f7,
  333: #333333,
  666: #666666,
  999: #999999,
  0ff: #00ffff,
  0f0: #00ff00,
  ff0: #ffff00,
  f00: #ff0000,
  f0f: #ff00ff,
  00f: #0000ff,
  transparent: transparent
);
