@import '../common/theme.scss';
@import '../common/utils.scss';
// 默认圆角大小
$radius-md: px(10);
// 默认边框宽度
$border-width: 1px;
// 默认边框颜色
$border-color: map-get($colors, 'border-color');

@mixin borderDir($dir, $width: $border-width, $color: $border-color) {
  border-#{$dir}: $width solid $color;
}

@mixin grid-border($color: $border-color, $width: $border-width) {
  & > * {
    border: $width solid $color;
    margin-left: 0 - $width;
    margin-top: 0 - $width;
  }
}

@mixin border($color: $border-color, $width: $border-width) {
  border: $width solid $color;
}
@mixin border-top($color: $border-color, $width: $border-width) {
  @include borderDir(top, $width, $color);
}
@mixin border-bottom($color: $border-color, $width: $border-width) {
  @include borderDir(bottom, $width, $color);
}
@mixin border-left($color: $border-color, $width: $border-width) {
  @include borderDir(left, $width, $color);
}
@mixin border-right($color: $border-color, $width: $border-width) {
  @include borderDir(right, $width, $color);
}

@mixin radius($radius: $radius-md) {
  border-radius: $radius;
}
@mixin radius-circle() {
  @include radius(50%);
}
@mixin radius-round() {
  @include radius(1000px);
}

@mixin border-build() {
  /* #ifndef APP-NVUE */
  .b-box {
    box-sizing: border-box;
  }
  .grid-b {
    @include grid-border();
  }
  /* #endif */
  .b {
    @include border();
  }
  .bb {
    @include borderDir(bottom);
  }
  .bt {
    @include borderDir(top);
  }
  .bl {
    @include borderDir(left);
  }
  .br {
    @include borderDir(right);
  }

  .bx {
    @include borderDir(left);
    @include borderDir(right);
  }

  .by {
    @include borderDir(top);
    @include borderDir(bottom);
  }

  @for $i from 0 through 20 {
    .br-#{$i*5} {
      @include radius(px($i * 5));
    }
    .br-tl-#{$i*5} {
      border-top-left-radius: px($i * 5);
    }
    .br-bl-#{$i*5} {
      border-bottom-left-radius: px($i * 5);
    }
    .br-tr-#{$i*5} {
      border-top-right-radius: px($i * 5);
    }
    .br-br-#{$i*5} {
      border-bottom-right-radius: px($i * 5);
    }
  }

  .br-c {
    @include radius-circle();
  }
  .br-r {
    @include radius-round();
  }

  .bs-d {
    border-style: dashed;
  }

  .bs-s {
    border-style: solid;
  }

  @for $i from 0 through 10 {
    .bw-#{$i} {
      border-width: px($i);
    }
    .bw-t-#{$i} {
      border-top-width: px($i);
    }
    .bw-b-#{$i} {
      border-bottom-width: px($i);
    }
    .bw-l-#{$i} {
      border-left-width: px($i);
    }
    .bw-r-#{$i} {
      border-right-width: px($i);
    }
    /* #ifndef APP-NVUE */
    .grid-bw-#{$i} {
      & > * {
        margin-left: 0 - px($i);
        margin-top: 0 - px($i);
        border-width: px($i);
      }
    }
    /* #endif */
  }
}
