@import '../common/utils.scss';

@mixin font-build() {
  .fs-0 {
    font-size: 0;
  }
  @for $i from 12 through 100 {
    @if $i < 50 {
      .fs-#{$i} {
        font-size: px($i);
      }
    } @else if $i%5==0 {
      .fs-#{$i} {
        font-size: px($i);
      }
    }
  }

  @for $i from 1 through 9 {
    .fw-#{$i*100} {
      font-weight: $i * 100;
    }
  }

  .fw-b {
    font-weight: bold;
  }

  /* #ifndef APP-NVUE */
  .fw-l {
    font-weight: lighter;
  }

  /* #endif */
  .fw-n {
    font-weight: normal;
  }

  /* 行高(0~100) */
  @for $i from 0 through 100 {
    .lh-#{$i} {
      line-height: px($i);
    }
  }
}
