@import '../common/theme.scss';

@mixin form-build() {
  /* #ifndef APP-NVUE */
  .form-required {
    &-l {
      &::before {
        content: '*';
        margin-right: 4px;
        color: map-get($colors, red);
      }
    }
    &-r {
      &::after {
        content: '*';
        margin-left: 4px;
        color: map-get($colors, red);
      }
    }
  }
  /* #endif */
}
