@import '../common/utils.scss';

@mixin grid-normal($column: 2) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
}
@mixin grid-rows-normal($rows: 2) {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat($rows, 1fr);
}
@mixin grid-row($row: 1, $rowspan: null) {
  @if $rowspan {
    grid-row: $row #{'/'} $rowspan;
  } @else {
    grid-row: $row;
  }
}
@mixin grid-column($column: 1, $columnspan: null) {
  @if $columnspan {
    grid-column: $column #{'/'} $columnspan;
  } @else {
    grid-column: $column;
  }
}
@mixin grid-gap($row: 10px, $column: 10px) {
  grid-row-gap: $row;
  grid-column-gap: $column;
}
@mixin grid-row-gap($row: 10px) {
  grid-row-gap: $row;
}
@mixin grid-column-gap($column: 10px) {
  grid-column-gap: $column;
}

@mixin grid-build() {
  .grid {
    @include grid-normal();
  }
  @for $i from 2 through 12 {
    .grid-#{$i} {
      @include grid-normal($i);
    }
  }

  @for $i from 2 through 12 {
    .grid-rows-#{$i} {
      @include grid-rows-normal($i);
    }
  }

  @for $i from 1 through 12 {
    .grid-row-#{$i} {
      @include grid-row($i);
    }
  }

  @for $i from 1 through 12 {
    @for $x from 1 through 12 {
      .grid-row-#{$i}\/#{$x} {
        @include grid-row($i, $x);
      }
    }
  }

  @for $i from 1 through 12 {
    .grid-col-#{$i} {
      @include grid-column($i);
    }
  }

  @for $i from 1 through 12 {
    @for $x from 1 through 12 {
      .grid-col-#{$i}\/#{$x} {
        @include grid-column($i, $x);
      }
    }
  }
  .grid-gap-1 {
    @include grid-gap(px(1), px(1));
  }
  @for $i from 1 through 24 {
    .grid-gap-#{$i*5} {
      @include grid-gap(px($i * 5), px($i * 5));
    }
  }

  @for $i from 1 through 24 {
    .grid-row-gap-#{$i*5} {
      @include grid-row-gap(px($i * 5));
    }
  }

  @for $i from 1 through 24 {
    .grid-col-gap-#{$i*5} {
      @include grid-column-gap(px($i * 5));
    }
  }
}
