@import '../common/utils.scss';

@mixin height-build() {
  /* 高(1~100) */
  @for $i from 1 through 150 {
    .h-#{$i*10} {
      height: px($i * 10);
    }
  }
  /* 高(1~100) */
  @for $i from 1 through 150 {
    .max-h-#{$i*10} {
      max-height: px($i * 10);
    }
  }
  /* 高百分比(1~100) */
  @for $i from 0 through 20 {
    .h-#{$i*5}\/100 {
      height: $i * 5%;
    }
  }
  /* 高百分比(1~100) */
  @for $i from 0 through 20 {
    .max-h-#{$i*5}\/100 {
      max-height: $i * 5%;
    }
  }
}
