@mixin overflow-build() {
  .o-h {
    overflow: hidden;
  }

  .os-h {
    overflow-x: hidden;
  }

  .oy-h {
    overflow-y: hidden;
  }

  .o-auto {
    overflow: auto;
  }

  .ox-auto {
    overflow-x: auto;
  }

  .oy-auto {
    overflow-y: auto;
  }

  .o-unset {
    overflow: unset;
  }

  .ox-unset {
    overflow-x: unset;
  }

  .oy-unset {
    overflow-y: unset;
  }

  /* #ifndef APP-NVUE */
  .oy-s {
    overflow-y: scroll;
  }

  .ox-s {
    overflow-x: scroll;
  }
  /* #endif */
}
